        <div class="footer">
            <div class="section yellow">
                <div class="wrapper">
                    <ul class="menu">
                        <li><a href="/">Home</a></li>
                        <li><a href="/events">All Events</a></li>
                        <li><a href="/contact">Contact us</a></li>
                        <li><a href="">Code of Conduct</a></li>
                        <li><a href="">Other NodeSchools in Serbia</a></li>
                        <li><ul><a href="">NodeSchool Kikinda</a></ul></li>
                        <li><a href="">Need help to organize</a></li>
                        <li><a href="http://jsbelgrade.org">JS Belgrade</a></li>
                    </ul>

                    <span class="signup">
                        <p>Signup for our newsletter: </p>
                        <input type="text" class="newsletter"/>
                        <a href="#" class="button yellow">Signup</a>
                    </span>
                </div>
            </div>

        </div>

        <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
        <script src="assets/js/main.js"></script>
    </body>
</html>
