{{> header}}
<div class="contact">
    <span>
        <img src="../assets/images/mentors/Gmail-icon.png" class="icons"/>
        <a href="mailto:jsbelgradeorg@gmail.com">jsbelgradeorg@gmail.com</a>
    </span>
    <span>
        <img src="../assets/images/mentors/Slack-icon.png" class="icons"/>
        <a href="http://slack.jsbelgrade.org/">http://slack.jsbelgrade.org/</a>
    </span>
    <span>
        <img src="../assets/images/mentors/Facebook-icon.png" class="icons"/>
        <a href="https://www.facebook.com/jsbelgrade/" class="">https://www.facebook.com/jsbelgrade</a>
    </span>
    <span>
        <img src="../assets/images/mentors/Twitter-icon.png" class="icons"/>
        <a href="https://twitter.com/JSBelgrade" class="">https://twitter.com/JSBelgrade</a>
    </span>
</div>
{{> footer}}
