{{> header}}
<div class="logo"></div>

{{#each collections.events}}
<div class="event">
  <a href="{{this.path}}" class="title">{{this.title}}</a>
  <p>{{this.date}}, @ {{this.location}}</p>
  <span>
    <a href="{{this.path}}" class="button yellow">More Info</a>
    {{#if gallery}}
    <a href="{{this.gallery}}" class="button yellow">Gallery</a>
    {{/if}}
    {{#if register}}
    <a href="{{this.register}}" class="button yellow">Register</a>
    {{/if}}
  </span>
</div>
{{/each}}

{{> footer}}
