{{> header}}
<div class="event">
    <h2>Next Event</h2>
    {{#each (nextEvents collections.events 1)}}
        <a href="{{this.path}}" class="title">{{this.title}}</a>
        <p>{{this.date}} @ {{this.location}}</p>
        <span>
            <a href="{{this.path}}" class="button yellow">More Info</a>
            <a href="{{this.register}}" class="button yellow">Register</a>
        </span>
    {{/each}}
</div>

<div class="section yellow">
    <div class="wrapper">
        <div class="info-box">
            <span class="images prva"></span>
            <h3>Learn JavaScript</h3>
            <p>NodeSchool is for people totally new to programming, as well as experienced programmers looking to try a new language or skillset. Knowing some JavaScript will help, but is not necessary.</p>
        </div>
        <div class="info-box">
            <span class="images druga"></span>
            <h3>Self-Directed</h3>
            <p>NodeSchool workshops are self-guided. No boring lectures. All challenges are open source and are available online at
                    nodeschool.io. This means that you can practice anytime.</p>
        </div>
        <div class="info-box">
            <span class="images treca"></span>
            <h3>For Everyone</h3>
            <p>We think that learning to program is great and everyone should feel welcome at our event. This includes our expectation that all participants be kind to each other and respect our Code of Conduct.</p>
        </div>
    </div>
</div>

<div class="section feedback">
    <div class="wrapper">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <span>Marko, NodeSchool #2</span>
    </div>
</div>

<div class="event">
    <h2>Previous Event</h2>
    {{#each (pastEvents collections.events 3)}}
        <div class="row">
            <a href="{{this.path}}" class="title">{{this.title}}</a>
            <p>{{this.date}} @ {{this.location}}</p>

            <span>
                <a href="{{this.path}}" class="button yellow">More Info</a>
                <a href="{{this.gallery}}" class="button yellow">Gallery</a>
            </span>
        </div>
    {{/each}}

    <a href="/events" class="link">View all events</a>
</div>

{{> footer}}
