{{> header}}
<div class="event">
    <h2>Mentors</h2>

    <div class="wrapper">
        <ul class="flex-container">
            <li class="flex-item">
                <img src="../assets/images/mentors/dusan.png" />
                <h3>Dušan Stanković</h3>
                <p>Lorem iposum....</p>
            </li>
            <li class="flex-item">
                <img src="../assets/images/mentors/bogdan.png" />
                <h3>Bogdan Gavrilović</h3>
                <p>Lorem iposum....</p>
            </li>
            <li class="flex-item">
                <img src="../assets/images/mentors/sima.png" />
                <h3>Aleksandar Simović</h3>
                <p>Lorem iposum....</p>
            </li>
            <li class="flex-item">
                <img src="../assets/images/mentors/slobodan.png" />
                <h3>Slobodan Stojanović</h3>
                <p>Lorem iposum....</p>
            </li>
            <li class="flex-item">
                <img src="../assets/images/mentors/dejan.png" />
                <h3>Dejan Dimić</h3>
                <p>Lorem iposum....</p>
            </li>
            <li class="flex-item">
                <img src="../assets/images/mentors/sasa.png" />
                <h3>Saša Rudan</h3>
                <p>Lorem iposum....</p>
            </li>
            <li class="flex-item">
                <img src="../assets/images/mentors/goran.png" />
                <h3>Goran Gajić</h3>
                <p>Lorem iposum....</p>
            </li>
            <li class="flex-item">
                <img src="../assets/images/mentors/milos.png" />
                <h3>Miloš Džepina</h3>
                <p>Lorem iposum....</p>
            </li>
            <li class="flex-item">
                <img src="../assets/images/mentors/ivan.png" />
                <h3>Ivan Dejanović</h3>
                <p>Lorem iposum....</p>
            </li>
            <li class="flex-item">
                <img src="../assets/images/mentors/ivan-batic.png" />
                <h3>Ivan Batić</h3>
                <p>Lorem iposum....</p>
            </li>
            <li class="flex-item">
                <img src="../assets/images/mentors/maja.png" />
                <h3>Maja Nedeljković</h3>
                <p>Lorem iposum....</p>
            </li>
            <li class="flex-item">
                <img src="../assets/images/mentors/una.png" />
                <h3>Una Kisić</h3>
                <p>Lorem iposum....</p>
            </li>
            <li class="flex-item">
                <img src="../assets/images/mentors/ivan-stanojevic.png" />
                <h3>Ivan Stanojević</h3>
                <p>Lorem iposum....</p>
            </li>
            <li class="flex-item">
                <img src="../assets/images/mentors/logo.png" />
                <h3>Become mentor</h3>
                <p>Lorem iposum....</p>
            </li>

        </ul>
    </div>



</div>


{{> footer}}
