@import "variables";

header {
  display: block;
  position: absolute;
  overflow: hidden;
  top: 0;
  width: 100%;
  height: 60px;
  background: $darkGrey;

  nav {
    float: right;
    
    @media only screen and (max-width: 479px) {
    float: none;
    }
  }

  a {
    line-height: 60px;
    float: left;
    color: $yellow;
    text-decoration: none;
    font-weight: bold;
    font-size: $bigFontSize;
    margin-left: 22px;
    word-spacing: -7px;

    @media only screen and (max-width: 479px) {
      float: none;
      font-size: $smallFontSize;
    }
  }

}
