$darkGrey: #333;
$yellow: #ffe51f;

$titleFontSize: 24px;
$bigFontSize: 18px;
$middleFontSize: 16px;
$standardFontSize: 14px;
$smallFontSize: 12px;

$phonePortrait: "only screen and (max-width: 480px)";
$phoneLandscape: "only screen and (max-width: 768px)";
