@import "variables";

.contact {
  display: block;
  overflow: hidden;
  width: 90%;
  max-width: 1000px;
  text-align: center;
  margin: 0 auto;
  padding: 30px 0 50px;

  span {
    display: block;
    overflow: hidden;
    margin: 0 250px;
    padding: 15px 0;

    @media only screen and (max-width: 1024px) {
      display: block;
      overflow: hidden;
      margin: 0 auto 20px;
      width: 440px;
    }
  }
  a {
    display: block;
    overflow: hidden;
    margin: 0 10px;
    float: left;
    font-size: $middleFontSize;
    color: $darkGrey;
    text-align: center;
    padding-top: 30px;

    @media only screen and (max-width: 480px) {
      display: block;
      font-size: $smallFontSize;
      padding-top: 15px;
    }
    @media only screen and (max-width: 350px) {
      max-width: 230px;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
.icons {
  display: block;
  overflow: hidden;
  margin: 0 10px;
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 20%;

  @media only screen and (max-width: 480px) {
    width: 30px;
    height: 30px;
    float: left;
    border-radius: 5%;
  }
}