@import "variables";

.event {
  display: block;
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
  padding: 30px 0 50px;

  span {
    display: block;
    overflow: hidden;
    margin: 0 auto;
    width: 264px;
    font-size: $standardFontSize;
    color: $darkGrey;
  }

  .title {
    font-weight: bold;
    font-size: $bigFontSize;
    text-decoration: none;
    color: $darkGrey;
  }
  .link {
    display: block;
    overflow: hidden;
    margin: 50px 0;
    font-size: $standardFontSize;
    font-weight: bold;
    color: $darkGrey;
  }
}
.row {
  padding: 30px 0 50px;
  border-bottom: 1px solid #EEE;
  max-width: 400px;
  margin: 0 auto;
}

