@import "variables";

.event {
  display: block;
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 20px;

  span {
    display: block;
    overflow: hidden;
    margin: 0 auto;
    width: 264px;
    font-size: $standardFontSize;
    color: $darkGrey;
  }

  .title {
    font-weight: bold;
    font-size: $bigFontSize;
    text-decoration: none;
    color: $darkGrey;
  }
  .link {
    display: block;
    overflow: hidden;
    margin: 50px 0;
    font-size: $standardFontSize;
    font-weight: bold;
    color: $darkGrey;
  }
}

